.navBar {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.cardFrame{
  border: 2px solid blue;
  height: 200px;
  width: 200px;
}

.card{
  border: 2px solid red;
  margin: 5px;
  height: 160px;
  width: 180px;
}

.outerCardDiv
{
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}