.navBar {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.cardFrame{
  border: 2px solid blue;
  height: 200px;
  width: 200px;
}

.card{
  border: 2px solid red;
  margin: 5px;
  height: 160px;
  width: 180px;
}